/*데탑*/
@media screen and (max-width:1440px) {

  header .hd_all .pc_wrap ul {
    width: 80%;
  }

  #home .main_vid {
    height: 100vh;
    width: auto;
  }

  #Market .market {
    padding: 5% 0;
  }
  #Market .market .market_img img {
    max-width: 90%;
  }
  #Market .market .market_txt p {
    font-size: 0.8em;
  }

  #Solution .solution::before {
    width: 130%;
    height: 130%;
    top: -12%;
    left: -30%;
  }

  #Solution::before {
    left: -17%;
  }

  #Solution .solution .solution_txt p.bold {
    padding-bottom: 2%;
  }
  #Solution .solution .solution_txt p.normal {
    font-size: 0.9em;
  }

  /* coin */
  #coin .coin_area .coin_img .coin_box {
    width: 280px;
  }


}

/*노트북*/
@media screen and (max-width:1024px) {
  #home .main_vid video {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(-40%);
    height: 100%;
    width: auto;
    z-index: -1;
  }

  #home h2 {
    padding-top: 20%;
  }

  /*about*/

  .about_wrap h4 {
    font-size: 1.4em;
  }

  .about_left {
    width: 45%;
  }

  .about_left img {
    max-width: 100%;
  }

  .about_right {
    width: 45%;
  }

  .about_right p br {
    display: none;
  }

  #Solution .solution::before {
    width: 105%;
    height: 105%;
    top: 0%;
    left: -18%;
  }

  #Solution .solution .solution_txt {
    width: 50%;
  }

  /* coin */

  #coin .coin_area {
    align-items: stretch;
    flex-direction: column;
  }

  #coin .coin_area .coin_img {
    width: 100%;
  }

  #coin .coin_area .coin_list {
    width: 100%;

  }

  #Solution .solution .solution_img {
    top: 3%;
    left:-25%;
}

  #roadmap .roadmap_wrap {
    flex-direction: column;
  }
  #roadmap .roadmap_wrap .rm_img {
    width: 90%;
    margin-bottom: 10%;
  }
  #roadmap .roadmap_wrap .rm_txt {
    width: 50%;
    padding-left: 0;
  }
}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {
  /*about*/


  .about_contents {
    display: block;
  }

  .about_left {
    width: 100%;
  }

  .about_left img {
    max-width: 75%;
  }

  .about_right {
    width: 100%;
    margin-top: 10%;
  }

  .about_right p {
    text-align: center !important;
  }

  .about_right p br {
    display: block;
  }

  #Market .market {
    align-items: center;
    flex-direction: column;
}
#Market .market .market_txt {
  margin: 0;
  width: 80%;
}
#Market .market .market_img {
  width: 80%;
  margin-top: 5%;
}
#Solution .solution {
  flex-direction: column;
  height:100%;
}


#Solution .solution .solution_txt {
  width: 100%;
  margin-top: 70%;
}

#Solution .solution::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#Solution::before {
  width: 100%;
  height: 100%;
}

  /* coin */
  #coin .coin_area .coin_list ul {
    padding-left: 0;
  }

  #roadmap .roadmap_wrap .rm_txt {
    width: 68%;
  }


  /* footer */

  footer .footer_wrap {
    flex-direction: column;
    align-items: center;
  }

  footer .footer_wrap .footer_logo,
  footer .footer_wrap .footer_info,
  footer .footer_wrap .footer_contents,
  footer .footer_wrap .footer_docs {
    width: 90%;
    margin-bottom: 5%;
  }

  footer .footer_wrap .footer_info h4,
  footer .footer_wrap .footer_contents h4,
  footer .footer_wrap .footer_docs h4 {
    margin-bottom: 5%;
  }

  footer .footer_wrap .footer_info .info li,
  footer .footer_wrap .footer_contents ul li,
  footer .footer_wrap .footer_docs ul li {
    margin-bottom: 3%;
  }

  footer .footer_wrap .footer_docs {
    margin-bottom: 0;
  }

}



/*모바일*/

@media screen and (max-width:767px) {
  header .hd_all .pc_wrap {
    display: none;
  }

  .hd_all .menu-btn {
    display: block;
  }

  #home .main_vid video {
    transform: translateX(-45%);
  }

  #home h2 {
    padding-top: 20%;
    font-size: 28px;
  }


  /*about*/

  .about_left img {
    max-width: 100%;
  }

  .about_right p br {
    display: none;
  }

  #Market .market .market_img {
    width: 100%;
  }
  #Market .market .market_txt p {
    font-size: 0.8em;
  }

  #roadmap .roadmap_wrap .rm_img {
    width: 100%;
  }
  #roadmap .roadmap_wrap .rm_txt {
    width: 90%;
  }

}


/*모바일2*/


@media screen and (max-width:576px) {

  #home .main_vid video {
    transform: translateX(-54%);
  }

  #home h2 {
    padding: 0 5%;
    padding-top: 20%;
  }

  #Solution .solution::before {
    background:url(../img/solution_m.png)no-repeat;
    background-size: contain;
    width: 90%;
    height: 100%;

  }

  #Solution .solution .solution_txt {
    width: 90%;
    margin-top: 140%;
}

  /* coin */
  .coin_img img {
    max-width: 100%;
  }

  #coin .coin_area .coin_img .coin_box {
    bottom: 9%;
    left: 0%;
  }

  #coin .coin_area .coin_img img.wep {
    display: none;
  }

  #coin .coin_area .coin_img img.mov {
    display: block;
  }


}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {
  #Solution .solution .solution_txt p.bold {
    font-size: 0.9em;
}
#Solution .solution .solution_txt p.normal {
  font-size: 0.8em;
}

#Solution .solution::before {
  width: 80%;
}

#Solution .solution .solution_txt {
margin-top: 125%;
}
}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {
  #roadmap .roadmap_wrap .rm_txt {
    width: 100%;
  }
}